#BasedOnStyle: LLVM

#BraceWrapping:
#  AfterFunction: true
#  AfterControlStatement: false
ColumnLimit: 0
Cpp11BracedListStyle: false
SpaceAfterCStyleCast: true
# AllowShortBlocksOnASingleLine: true
TabWidth: 4
IndentWidth: 4
# CommentPragmas: "^[^ ]"
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  PadOperators: true
